article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
body { margin: 0; }
a { background: transparent; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0; }
b, strong { font-weight: bold; }
small { font-size: 80%; }
img { border: 0; }

a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #e20000;
}

body {
  background: #fff;
  font: 22px/24px serif;
  color: #000;
  text-rendering: optimizeLegibility;
}

section#about{
  position: absolute;
  top: 70px;
  left: 0;
  width: 280px;
  margin: 0;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 1);
}
article {
  padding: 40px 0 40px 55px;
}

h1 {
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-size: 22px;
  color: #e20000;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
