article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
body { margin: 0; }
a { background: transparent; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0; }
b, strong { font-weight: bold; }
small { font-size: 80%; }
img { border: 0; }

a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #e20000;
}

body {
  font: 24px/25px "skolar", Georgia, serif;
  background: #fff;
  color: #000;
  text-rendering: optimizeLegibility;
}

section#about{
  position: absolute;
  top: 0;
  left: 70px;
  width: 270px;
  margin: 0;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, .9);
}
article {
  padding: 85px 0 45px 45px;
}

h1 {
  margin: 0;
  padding: 0;
  line-height: 24px;
  font-size: 24px;
  font-weight: normal;
  color: #e20000;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section#info {
  position: absolute;
  left: 115px;
  bottom: 25px;
}
section#info p {
  font: 14px/16px "freight-sans-pro", helvetica, sans-serif;
}
section#info p.white {
  color: white;
}

section#info p.black {
  color: black;
}

section#info p.gray {
  color: #d3d3d3;
}
