article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
body { margin: 0; }
a { background: transparent; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0; }
b, strong { font-weight: bold; }
small { font-size: 80%; }
img { border: 0; }

ul {
  margin-left: 0;
  padding-left: 0;
}
li {
  list-style-type: none;
  margin-left: 0px;
  padding-bottom: 5px;
}

a {color: #485156}
a:hover {color: #8aba18}

body {
  background: #fff;
  font: 16px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #111;
}

section#content {
  width: 864px;
  margin: 0 auto;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, .9);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  margin-bottom: 40px;
}
article {
  padding: 40px 80px;
}

h1 {
  margin: 0;
  padding-bottom: 10px;
  line-height: 1em;
  font-size: 30px;
  color: #3e464b;
}

p {
  margin: 0 0 20px 0;
}
